:root.theme-dark {
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --brand-color: #db00ff;
  --highlight-color: #000028;
  --secondary-color: #ff0070;
  --secondary-color-o-40: #ff007040;

  --page-background-color: #000028;
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}