.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page {
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-background-color, #000028);
  color: var(--text-color);
  font-family: var(--page-font-family), monospace;
  font-size: 18px;
  line-height: 23.4px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color);
  border-block-start: 1px solid var(--secondary-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color);
  border-block-end: 1px solid var(--secondary-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec-decor {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;

  inset-inline-end: clamp(22px, 0.0286rem + 2.5445vw, 30px);
  inset-block-start: clamp(15px, 0.0286rem + 2.5445vw, 30px);
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.page-title {
  color: var(--brand-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  color: var(--highlight-color);
  background: var(--accent-color);
}

.section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.section-how__title {
  margin-block-end: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* #endregion Конец глобальных компонентов */

/* #region Начало блока header */

.header {
  align-items: start;
  display: grid;
  min-block-size: 668px;
  block-size: 100vh;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--secondary-color);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  margin-block: 55px;
  color: var(--highlight-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color);
}

/* #endregion Конец блока header */

/* #region Начало блока main */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

/* #endregion Конец блока main */

/* #region Начало блока footer */

.footer {
  place-items: center;
  display: grid;
  min-block-size: 668px;
  block-size: 100vh;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

/* #endregion Конец блока footer */

@media (width >= 768px) {
  .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what__articles-list {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    padding-inline-start: 0;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .section {
    column-gap: 30px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .footer {
    min-block-size: 768px;
  }
}
